h1 {
  text-align: center;
}


figcaption{
  font-size: 12px;
}

#featured-property{
  text-align: center;
  align-items: center;
  justify-content: center;
}

#details{
  display: block;
  float: left;
  margin: auto;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}


