h1, nav, img {
  text-align: center;
  align-items: center;
  justify-content: center
}

img {
  
}

figcaption{
  font-size: 12px;
}

#featured-property{
  width: 800px;
  text-align: center;
}

#details{
  display: block;
  float: left;
  margin: auto;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}


